.icon {
  width: clamp(60px, 6vw, 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.25rem, 0.5vw, 0.375rem);
  padding: clamp(0.25rem, 0.4vw, 0.375rem);
  border-radius: clamp(0.375rem, 0.8vw, 0.5rem);
  transition: all 0.15s ease;
  border: clamp(1px, 0.2vw, 2px) solid transparent;
  background-color: transparent;

  position: absolute;
  cursor: grab;
  user-select: none;
}

.icon:active {
  cursor: grabbing;
}

.icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon.selected {
  background-color: rgba(255, 255, 255, 0.2);
  border: clamp(1px, 0.2vw, 2px) solid rgba(255, 255, 255, 0.5);
}

.icon.dragging {
  opacity: 0.8;
  z-index: 1000;
  cursor: grabbing;
  transition: none;
}

.iconImage {
  width: clamp(42px, 4.5vw, 56px);
  height: clamp(42px, 4.5vw, 56px);
  border-radius: clamp(0.75rem, 1.5vw, 0.875rem);

  background: linear-gradient(135deg, #5b8aff, #8fd3ff);
  box-shadow: 0 clamp(0.5rem, 1vw, 0.625rem) clamp(1.25rem, 2.5vw, 1.5625rem) rgba(0, 0, 0, 0.6);
  transition: filter 0.15s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.iconImage.hasImage {
  background: transparent;
  border: clamp(1px, 0.2vw, 2px) solid #00000056;
  background: #3e00b3;
  background: radial-gradient(circle, rgba(62, 0, 179, 0.89) 20%, rgba(41, 0, 143, 0.46) 68%);
}

.iconImg {
  width: 85%;
  height: 85%;
  object-fit: cover;
  pointer-events: none;
  border-radius: clamp(0.625rem, 1.2vw, 0.75rem);
  
}

.iconImg.fullSize {
  width: 100%;
  height: 100%;
}

.iconLetter {
  font-weight: 700;
  color: #0c0d11;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.iconLabel {
  font-family: 'Jersey 25', sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffffd8;
}
